@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%; /* rgb(255, 255, 255) */
    --foreground: 0 0% 7%; /* rgb(17, 17, 17) */

    --card: 48, 23.81%, 95.88%; /* rgb(244, 244, 244) */
    --card-foreground: 0 0% 7%; /* rgb(17, 17, 17) */

    --popover: 0 0% 100%; /* rgb(255, 255, 255) */
    --popover-foreground: 0 0% 7%; /* rgb(17, 17, 17) */

    --primary: 211 38% 25%; /* rgb(41, 60, 91) - dark blue */
    --primary-foreground: 0 0% 100%; /* rgb(255, 255, 255) */

    --secondary: 33 30% 50%; /* rgb(195, 181, 156) - beige/tan */
    --secondary-foreground: 38.46, 24.53%, 68.82%; /* rgb(17, 17, 17) */

    --muted: 0 0% 19%; /* rgb(237, 237, 237) */
    --muted-foreground: 0 0% 48%; /* rgb(122, 122, 122) */

    --accent: 73 49% 57%; /* rgb(174, 206, 83) - lime green */
    --accent-foreground: 0 0% 7%; /* rgb(17, 17, 17) */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 85%; /* rgb(237, 237, 237) */
    --input: 0 0% 93%; /* rgb(237, 237, 237) */
    --ring: 211 38% 25%; /* rgb(41, 60, 91) */

    --radius: 0.2rem;

    --success: 120 100% 25%; /* rgb(0, 128, 0) */
    --warning: 33 30% 50%; /* rgb(195, 181, 156) */
    --error: 0 84.2% 60.2%;
  }

  [data-theme="dark"] {
    --background: 0 0% 7%; /* rgb(17, 17, 17) */
    --foreground: 0 0% 100%; /* rgb(255, 255, 255) */

    --card: 0 0% 13%; /* rgb(33, 33, 33) */
    --card-foreground: 0 0% 100%; /* rgb(255, 255, 255) */

    --popover: 0 0% 13%; /* rgb(33, 33, 33) */
    --popover-foreground: 0 0% 100%; /* rgb(255, 255, 255) */

    --primary: 214 81% 47%; /* rgb(24, 99, 220) - bright blue */
    --primary-foreground: 0 0% 100%; /* rgb(255, 255, 255) */

    --secondary: 218 8% 25%; /* rgb(63, 68, 75) - dark gray blue */
    --secondary-foreground: 0 0% 100%; /* rgb(255, 255, 255) */

    --muted: 0 0% 19%; /* rgb(68, 68, 68) */
    --muted-foreground: 0 0% 73%; /* rgb(187, 187, 187) */

    --accent: 73 49% 57%; /* rgb(174, 206, 83) - lime green */
    --accent-foreground: 0 0% 7%; /* rgb(17, 17, 17) */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 19%; /* rgb(49, 49, 49) */
    --input: 0 0% 27%; /* rgb(68, 68, 68) */
    --ring: 214 81% 47%; /* rgb(24, 99, 220) */

    --success: 120 100% 25%; /* rgb(0, 128, 0) */
    --warning: 33 30% 50%; /* rgb(195, 181, 156) */
    --error: 0 62.8% 30.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

@layer components {
  .prose {
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-medium mb-0;
    }

    & p {
      @apply text-muted text-[16px] font-poppins;
    }

    & h1 {
      @apply text-5xl;
    }

    & h2 {
      @apply text-4xl;
    }

    & h3 {
      @apply text-3xl;
    }

    & h4 {
      @apply text-2xl;
    }

    & h5 {
      @apply text-xl;
    }

    & h6 {
      @apply text-lg;
    }
  }
}

html {
  opacity: 0;
}

html[data-theme="dark"],
html[data-theme="light"] {
  opacity: initial;
}
